<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.springboot.dao.PersonInfoMapper">
    <sql id="deptSql">personname,personage,personaddress</sql>
    <select id="findall" resultType="com.aaa.springboot.entity.Personinfo">
        select <include refid="deptSql"></include> from personinfo
    </select>
</mapper>
