<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(personlist)}">
    <table border="1px">
        <tr>
            <td>姓名</td>
            <td>年龄</td>
            <td>住址</td>
        </tr>
        <tr th:each="person:${personlist}">
            <td th:text="${person.personname}"></td>
            <td th:text="${person.personage}"></td>
            <td th:text="${person.personaddress}"></td>
        </tr>
    </table>
</div>
</body>
</html>